<div id="<%= dom_id recycler %>">
  <p>
    <strong>Name:</strong>
    <%= recycler.name %>
  </p>

  <p>
    <strong>Координаты:</strong>
    <%= recycler.lat %>, 
    <%= recycler.lon %>
  </p>


  <p>
    <strong>Description:</strong>
    <%= recycler.description %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= recycler.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= recycler.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= recycler.city_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= recycler.address %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= recycler.url %>
  </p>

</div>
