<h1>Recyclers</h1>

<div id='map' style='height: 800px;'></div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoieXVyeWtvdGx5YXJvdiIsImEiOiJja2M5NGM0djYwOTFqMnhsa2J4ZW1vbHBzIn0.475kMy3wnzKILq9XbTcXig';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [38.9884211, 45.0461317], // starting position [lng, lat]
    zoom: 13 // starting zoom
    });

    mapboxgl.setRTLTextPlugin('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js');
    map.addControl(new MapboxLanguage({
      defaultLanguage: 'ru'
    }));

    <% @recyclers.each do |recycler| %>
    const marker_<%= recycler.id %> = new mapboxgl.Marker()
      .setLngLat([<%= recycler.lon %>, <%= recycler.lat %>])
      .addTo(map);
    <% end %>
</script>

<div id="recyclers">
  <% @recyclers.each do |recycler| %>
    <%= render recycler %>
    <p>
      <%= link_to "Show this recycler", recycler %>
    </p>
  <% end %>
</div>

<%= link_to "New recycler", new_recycler_path %>
