= render @category

%h2 Пункты приёма

%ul
  - @category.recyclers.each do |recycler|
    %li= link_to recycler.description, recycler


%div
  = link_to "Edit this category", edit_category_path(@category)
  |
  \#{link_to "Back to categories", categories_path}
  
  \#{button_to "Destroy this category", @category, method: :delete}
